<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Blog<b>Maker</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav" [hidden]="isAuthenticated == true">
            <a href="#" class="nav-item nav-link" (click)="createBlog()">Create Blog</a>
        </div>

        <div class="navbar-nav ml-auto action-buttons">
            <div class="nav-item dropdown" [hidden]="isAuthenticated == false">
                <a href="" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Login</a>
                <div class="dropdown-menu action-form">
                    <form method="post">
                        <div class="form-group">
                            <label for="name">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username" required
                                [(ngModel)]="login.email" name="username" required="required">
                        </div>
                        <div class="form-group">
                            <label for="name">Password</label>
                            <input type="password" class="form-control" placeholder="Password" id="password" required
                                [(ngModel)]="login.password" name="password" required="required">
                        </div>
                        <input type="submit" (click)="onLogin()" class="btn btn-primary btn-block" value="Login">
                    </form>
                </div>
            </div>
            <div class="nav-item" [hidden]="isAuthenticated == true">
                <span class="user-info"> Welcome back, <b>{{username}}</b></span>
                <a class="btn btn-primary dropdown-toggle sign-up-btn" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>