<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="editBlogForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" name="name">
            <p class="inline-error" style="color:red;" *ngIf="editBlogForm?.get('name')?.errors">Field id required</p>
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" name="content" id="content" formControlName="content" cols="30" rows="4"></textarea>
            <p class="inline-error" style="color:red;" *ngIf="editBlogForm?.get('content')?.errors">Field id required</p>
        </div>

        <div class="form-group">
            <label for="power">Category</label>
            <select class="form-control" id="category" formControlName="category_id" name="category">
                <option *ngFor="let blogCategory of blogCategories" [value]="blogCategory.id">{{blogCategory.name}}
                </option>
            </select>
            <p class="inline-error" style="color:red;" *ngIf="editBlogForm?.get('category_id')?.errors">Field id required</p>
        </div>

        <div class="form-group">
            <label for="power">Status</label>
            <select class="form-control" id="status" formControlName="status">
                <option *ngFor="let status of blogStatus" [value]="status.value">{{status.name}}</option>
            </select>
            <p class="inline-error" style="color:red;" *ngIf="editBlogForm?.get('status')?.errors">Field id required</p>
        </div>

        <div class="form-group">
            <label for="name">Author(You)</label>
            <input type="text" class="form-control" id="name" formControlName="author" name="name">
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"
        style="background-color: beige; border-color: beige; color: indianred;"
        (click)="closeModal('close')">Close</button>
    <button type="button" class="btn btn-primary"
        style="background-color: indianred; border-color: beige; color: cornsilk" (click)="saveChanges()">Save
        changes</button>
</div>