.modal-header {
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
    color: cornsilk;
    font-size: 14px;
}

.inline-error {
    color: red;
    font-size: 12px;
    font-weight: 800;
}