<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="fromParent.name" name="name" required>
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <input type="text" class="form-control" id="content" [(ngModel)]="fromParent.content" name="content" required>
    </div>

    <div class="form-group">
        <label for="power">Category</label>
        <select class="form-control" id="category" required [(ngModel)]="fromParent.category_id" name="category" required>
            <option *ngFor="let blogCategory of blogCategories" [value]="blogCategory.id">{{blogCategory.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="power">Status</label>
        <select class="form-control" id="status" required [(ngModel)]="fromParent.status" required>
            <option *ngFor="let status of blogStatus" [value]="status">{{status}}</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"
        style="background-color: beige; border-color: beige; color: indianred;"
        (click)="closeModal('close')">Close</button>
    <button type="button" class="btn btn-primary"
        style="background-color: indianred; border-color: beige; color: cornsilk" (click)="saveChanges()">Save
        changes</button>
</div>